* {
}
h2 {
    /* make page reach to of top of the display window */
    margin: 0;
    font-style: normal;
}
body {
    background-color: white;
    height: auto;
    margin: 0;
    top: 0;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

input {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
}

th {
    margin: 0px;
    width: 40px;
    border: 1px solid black;
    background-color: cadetblue;
    text-align: center;
}

td {
    margin: 0px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
}

p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

#page_div {
    margin: auto;
    background-color: rgb(182, 213, 240);
    width: 70%;
    top: 0px;
    left: 15%;
}

#set_text {
    background-color:#C0C0C0;
}

#width_sel_div {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-style: groove;
    border-radius: 10px;
    border-width: 1px;
}

#input_text {
    width: 20%;
}

#select_text {
    width: 5%;
}

#intro_div {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}
#intro_div, p {
    font-style:italic;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    line-height: 10px;
}

#ana_div,
#set_div {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    border-style: groove;
    border-radius: 10px;
    border-width: 1px;
}

#set_tables {
    margin-top: 2%;
}

/* Extern page to bootom of the page */
#logo_div {
    min-height: calc(100vh - 50px);
}

#author_logo {
    margin-left: 2%;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color:grey;
}
