* {
    /* font-size: 1.1rem; */
}

body {
    background-color: white;
    height: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
}

th {
    border: 1px solid black;
    width: 40px;
    background-color: cadetblue;
    margin: 0px;
}

td {
    border: 1px solid black;
    width: 40px;
    margin: 0px;
}

p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

#page_div {
    margin: auto;
    background-color: rgb(182, 213, 240);
    width: 70%;
    top: 0px;
    left: 15%;
}

#width_sel_div {
    margin-left: 2%; 
}

#input_text {
    width: 20%;
}

#select_text {
    width: 5%;
}

#intro_div {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}
#intro_div, p {
    font-style:italic;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    line-height: 10px;
}

#ana_div,
#set_div {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

#set_tables {
    margin-top: 2%;
}

#author_logo {
    margin-left: 2%;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color:grey;
}